@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,600;0,700;1,100;1,500&family=Inter:wght@400;600&family=League+Spartan:wght@100&family=Roboto:ital,wght@0,100;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,600;0,700;1,100;1,500&family=Inter:wght@400;600&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;


}

body {
    background-color: #ffff;
    display: flexbox;
}

.head {
    display: flexbox;
    width: 100%;
    height: 45rem;
    background: url(img/background_1.svg);
    padding: 0;
    margin-top: 0%;
    text-align: center;
    /* pq, quando a tela está menor a imagem pede rolagem  e corta a img*/

}

.head>h1 {

    font-family: Bebas Neue;
    letter-spacing: 1.5px;
    padding-top: 480px;
    size: 200px;
    color: #ffff;
}

.head>h2 {
    padding-top: 0%;
    font-weight: lighter;
    color: #ffff;
}

#linkHead {
    color: #ffff;
}


.head>p {
    font-stretch: 40%;
    padding-top: 5px;
    color: #ffff;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-family: Bebas Neue;
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
   
}

h2 {
    font-family: Bebas Neue;
    text-align: center;
    letter-spacing: 2px;
    font-size: 35px; 

}

h3 {
    font-family: Bebas Neue;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
}

h4 {
    font-family: Bebas Neue;
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
}

p {
    font-family: Lato e Merriweather;
    size: 13px;
    padding: 1%;
    margin-left: 10%;
     margin-right: 10%;
}

.mapaInterativo{ 
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   
    margin-left: 0;
    height: 700px;
    background-color: #f2f2f27a;
     padding-top:1rem;
    padding-bottom: 1rem;
padding-left: 5%;}
 

.imgTxt {
    display: block;
    height: 300px;
    right: 300px;
    padding: 1rem;

}


.textoMateria {
    
    padding-top: 1rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ffff;
    margin-left: 20%;
    margin-right: 20%;
}



figure>figcaption {
    font-size: x-small;
    border-left: thin solid black;
    padding-left: 0.5rem;
    text-align: start;
    margin: 0;


}

figure {
    margin: 1rem;
}



#galeria {
    display: inline-block;
    background-color: red;
    padding-top: 10px;
    width: 100%;
}

#galeria>figure img {

    height: 300px;
    right: 300px;
    margin-right: 50%;
    padding: 1rem;
}

#galeria>p {
    display: flexbox;
    margin-left: 50%;
}

h3>.destaqueCul {
    background-color: #D92525;
    color: #ffff;
  
    padding-bottom: 0;
}

h3>.destaqueNat {
    background-color: #2CA25F;
    color: #ffff;
    padding: 4px;
    padding-bottom: 0;
}

p>.destaqueNat {
    background-color: #2CA25F;
    color: #ffff;
    font-weight: lighter;
}

p>.destaqueCul {
    background-color: #2CA25F;
    color: #ffff;
    font-weight: lighter;
}



.destaqueImg {
    min-width: 200px;
    max-width: 500px;
    background-color: #D92525;
    color: #ffff;
    padding: 1rem;
    margin-left: 50%;
    }


ul {
    margin-left: 25%;
    margin-right: 25%;
}

li>a {
    color: black;
}

.txtEspecial {
    
    margin-right: 15%;
    border-left: solid red;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.imagensCul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    flex: 2;
   padding-left: 5%;     
    }
    .gif{ width: 500px;
    right: 500px;}






.blocoImg2 {
    display: flexbox;
    margin: 1rem;
    margin-left: 15%;
}



.gif {
    display: flexbox;
}

.gifMedia {
    display: none;
}

#mapaGeral {
    cursor: pointer;
  
}

#patriNat :hover {
    fill: #0e592f;
}

#patriCul :hover {
    fill: #941a1a;
}

#misto> :hover {
    fill: #941a1a;
}

.conteudoPopup {
    margin-top: 0;
    margin-right: 0%;
    margin-left: 50%;
    background-color: #ffff;
    margin-left: 25%;
    margin-right: 25%;
    display: none;
    border: solid black;
    align-items: center;
    max-width: 500px;
}

.popup .botaoFechar {
    
    cursor: pointer;
    right: 10px;
    top: 10%;
    width: 18px;
    height: 18px;
    background: black;
    padding: 1rem;
    font-size: 25px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    color: white;
    margin: 1rem;
}


.popup.ativa .conteudoPopup {
    display: block;
    transition: all 300ms ease-in-out;
    transform: translater(-50%, -50%) scale(1);
    width: 90%;
    padding-top: 2rem;
    padding-right: 5%;
}


.conteudoPopup>button {
    cursor: pointer;
    display: flexbox;
    margin-bottom: 1rem;
    margin-left: 70%;
    background-color: #BAE4BC;
    padding: 0.3rem;
    border-color: #BAE4BC;
    align-content: center;
}

.conteudoPopup2 {
    margin-left: 25%;
    margin-right: 25%;
    display: none;
    border: solid black;
    align-items: center;
    max-width: 500px;
}

.popup2 .botaoFechar2 {
    display: flexbox;
    cursor: pointer;
    right: 10px;
    top: 10%;
    width: 18px;
    height: 18px;
    background: black;
    padding: 1rem;
    font-size: 25px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    color: white;
    margin: 1rem;
}


.popup2.ativa2 .conteudoPopup2 {
    display: block;
    transition: all 300ms ease-in-out;
    transform: translater(-50%, -50%) scale(1);
}


/*
    #descMapa > button:hover{  background-color: #5a755b;
        border-color: #5a755b;
    color: #ffff;  }
.h3descMapa{
    color: rgb(60, 60, 60);
    font-size: small;
}
#descMapa{ 
margin-left: 1rem;
display: none;
border:solid 1px;
align-items: center;
max-width: 400px;
min-height: 400px;
}
.botaoFechar{  display: flexbox;
    cursor: pointer;
    right: 10px;
    top: 10%;
    width: 18px;
    height: 18px;
    background: black;
    padding: 1rem;
    font-size: 25px;
    font-weight:600;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-weight: lighter;
    margin: 1rem;
    
    }
.botaoFechar:hover{
    background: rgb(194, 191, 191);
    color: black; 
} */

#galeria>button {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    font-family: Bebas Neue;
    background-color: white;

}

#galeria>button:hover {
    padding: 0.5rem;
    font-family: Bebas Neue;
    background-color: rgb(83, 81, 81);
    color: white;
}

#descricaoPatrimonio {
    padding-top: 0.5rem;
    padding-bottom: 00.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    position: absolute;
    margin-bottom: 0%;
    background-color: aliceblue;
    width: 100%;
    padding: 0%;
}

footer>h4 {
    padding: 1rem;
    color: rgb(46, 44, 48);
}

h4>a {
    color: rgb(46, 44, 48);
}

@media only screen and (max-width: 700px) {
    .blocoImg2 {
        display: flexbox;
        margin-left: 5%;
    }
    #mapaInterativo{ max-width: 500px;}


    .txtEspecial {
        margin-left: 1rem;
        margin-right: 0%;
        
    }

    .destaqueImg {
        margin-left: 0;
        margin-right: 0%;
    }

    .p {
        margin-left: 0%;
        margin-right: 0%;
    }

    .destaqueImg {
        
        max-width: 300px;
        background-color: #D92525;
        color: #ffff;
        padding: 1rem;
        margin-left: 5%;
        }

    .infoImg {
       margin: 1rem;
        max-width: 300px;
        max-height: 200px;
        padding-top: 1 rem;
        padding-bottom: 1rem;

    }

    /*?pq não pega esse gifMedia*/
    .gifMedia {
        display: flexbox;
    }

    .gif {
        display: none;
    }



    .head>h1 {
        padding-top: 420px;
        size: 30px;
        color: #ffff;
    }

    .head>p {
        max-width: 500px;
        padding: 1px;
    }

    .popup.ativa .conteudoPopup {
        display: flexblock;
        flex-wrap: wrap;
        
        
    }


}
