/*? não to conseguindo linkar no id do svg*/
#mapaGeral {
    cursor: pointer;
}

#patriNat :hover {
    fill: #0e592f;
}

#patriCul :hover {
    fill: #941a1a;
}

#misto> :hover {
    fill: #941a1a;
}

#descricaoMapa {
    background-color: #D9D9D994;
    /*como deixar transparente a div q está embalando tudo?*/
    display: flexbox;
    text-align: end;
    margin: 0%;
    padding: 0%;
}

#textoDescricao {
    margin-right: 2%;
    padding: 5%;
}